.titleInput {
    font-family: Verdana;
    font-size: 16px;
    color: #555555;
    line-height: 1.5;
    letter-spacing: .5px;
    width: 20%;
    margin-left: 40%;
    margin-bottom: 5px;
}

.entryInput {
    font-family: Georgia, serif;
    font-size: 16px;
    color: #555555;
    line-height: 1;
    letter-spacing: .25px;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 5px;
}

.tagsInput {
    font-family: Georgia, serif;
    font-size: 12px;
    color: #555555;
    line-height: .75;
    letter-spacing: .2px;
    width: 16%;
    margin-left: 15%;
    margin-bottom: 5px;
}

.addTagButton {
    margin-left: 15%;
    margin-bottom: 5px;
}

.submitEntry {
    margin-left: 15%;
    margin-bottom: 100px !important;
}